
#section5{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../images/background2.jpg);
    background-size: cover;
    background-position: center center;
    height: 105vh;
}
#contact-div{
    padding-top: 1%;
    margin-left: 15%;
    margin-right: 15%;
    display:flex;
    justify-content: space-between;
}
#contact{
    color: #ffffff;
    font-size:20px;
    margin-left: 10%;
}
#empty-div{
    padding-top: 3%;
    display: flex;
    justify-content:center;
}
.vl{
    border-left: 6px solid #FB4D3D;
    height: 100px;
}
#contact-me{
    margin-right: 5%;
    font-size: 20px;
    color: #ffffff;
}
span{
    color: #FB4D3D;
}
input{
    width:385px;
    height:30px;
}
#button{
    width: 200px;
    font-size: 20px;
    font-weight:bold
}
#icons{
    padding-top: 10%;
}
#icon .info{
    color: #ffffff;
    font-size: 23px;
}
#icon a:hover {
    color: #FB4D3D;
}