
#section5{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../images/background2-min.jpg);
    background-size: cover;
    background-position: center center;
    height: 105vh;
}
#contact-div{
    padding-top: 1%;
    margin-left: 15%;
    margin-right: 15%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#contact{
    color: #ffffff;
    font-size:20px;
    margin-left: 10%;
}
#empty-div{
    padding-top: 3%;
    display: flex;
    justify-content:center;
}
.vl{
    border-left: 6px solid #FB4D3D;
    height: 100px;
}
#contact-me{
    margin-right: 5%;
    font-size: 20px;
    color: #ffffff;
}
span{
    color: #FB4D3D;
}
input{
    width:385px;
    height:30px;
}
textarea{
    width: 100%;
}
#button{
    width: 200px;
    font-size: 20px;
    font-weight:bold;
    height:30px;
    background-color: #00A6ED;
    color: #ffffff;
    border-radius: 3px;
}
button{
    border: 1px solid #ffffff;
    cursor: pointer;
}
button:hover{
    background-color: #ff0000;
    color: black;
}
#icons{
    padding-top: 8%;
}
#icon .info{
    color: #ffffff;
    font-size: 18px;
    padding-left: 13px;
}
.info1{
    color: #ffffff;
    padding-top: 5%;
}
#find{
    display: flex;
    justify-content: space-between;
}
#a{
    padding-left: 10px;
    padding-right: 15px;
}
@media only screen and (max-width: 780px){
    input{
        width: 150px;
    }
    textarea{
        width: 150px;
    }
}
