#section3 {
  height: 100vh;
  margin-right: 10%;
  margin-left: 10%;
}
#project-head {
  padding-top: 8%;
  color: white;
  font-size: 20px;
}
#project-main {
  display:flex;
  flex-wrap: wrap;
  justify-content: center; 
  padding: 1%;
  flex-grow: 1;
  flex-basis: 16%;
}

.image1 {
  padding-right: 10px;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}
.image1-back {
  text-align: center;
  color: white;
  font-size: medium;
}
.image2 {
  padding-right: 10px;
}
span {
  color: #59f8e8;
}
img{
  border-radius: 10px;
}
